<h1>Save a video</h1>
<form method="post" action="/videos">
    <input id="titleInput" name="title">
    <textarea id="descriptionInput"></textarea>
    <button type="submit" id="submit">Save Video</button>
</form>


